.faq {
    background-color: $color-1;
    padding: 50px 0;
}

.faq > .container {
    display: flex;
    column-gap: 47px;
}

.faq__box {
    // margin-top: 20%;
    align-self: center;
    max-width: 539px;
    width: 100%;
}

.faq__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $font-size-title1;
    line-height: 38px;
    span {
        color: $text-color-2;
        font-family: 'ubuntu', Arial, Helvetica, sans-serif;
    }
    img {
        width: 30px;
        height: 30px;
        vertical-align: top;
    }
}

.faq__list {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    gap: 5px;
}


.faq__item {
}

.faq__question {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $color-1;
    padding: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: $text-color-4;
    // height: 37px;
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
    &::after {
        content: '';
        display: inline-flex;
        margin-left: auto;
        width: 10px;
        height: 5px;
        background-image: url('../img/icons/triangle.svg');
    }
}

.faq__answer {
    padding: 10px;
    line-height: 24.5px;
    font-size: $font-size-3;
    color: $text-color-4;
}

.faq__cook-box {
    min-width: 160px;
}

.faq__cook-img {
    width: 100%;
}

details[open] > {
    .faq__question::after {
        transform: rotate(180deg);
    }
}

@media (max-width: $medium-width) {
    .faq__box {
        max-width: initial;
    }

    .faq__title {
        font-size: $font-size-title2;
        line-height: 19px;
        img {
            width: 19px;
            height: 19px;
        }
    }

    .faq__cook-box {
        display: none;
    }
}

@media (max-width: $small-width) {
    .faq__list {
        margin-top: 9px;
    }

    .faq__question {
        font-size: $font-size-4;
        line-height: 22px;
    }

    .faq__answer {
        font-size: $font-size-4;
        line-height: 22px;
    }
}